name: Docker CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/secure-crud:latest .
        docker tag ${{ secrets.DOCKER_USERNAME }}/secure-crud:latest \
          ${{ secrets.DOCKER_USERNAME }}/secure-crud:${{ github.sha }}
        docker push --all-tags ${{ secrets.DOCKER_USERNAME }}/secure-crud
